/*app bar*/
.app-bar {
  width: 100%; /* Full-width */
  background-color: #0c6d55; /* Dark-green background */
  overflow: auto; /* Overflow due to float */
  padding: 0.31em;
  /* position: fixed; */
}

.app-bar a {
  float: left; /*float links side by side*/
  text-align: center; /*center align text*/
  padding: 0.75em 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
}

.app-bar a:hover {
  background-color: #9fd7d8; /* Add a hover color */
}

.active {
  background-color: #63b8b9; /* Add an active/current color */
}
/*end of app bar*/
