/*flex box*/
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-child {
  flex: 1;
  /*border: 2px solid yellow;*/
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-child:first-child {
  margin-right: 20px;
}
/*end of flex-box*/

/*media queries*/
@media (max-width: 700px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-child {
    flex-direction: column;
  }
}

/*end of media queries*/
