/*flex box*/
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-child {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-child:first-child {
  margin-right: 1.25em;
}
/*end of flex-box*/

/*media queries*/
@media (max-width: 48em) {
  .flex-container {
    flex-direction: column;
  }
  .flex-child {
    flex-direction: column;
  }
}

/*end of media queries*/
