/*--color pallette--*/
/* main background color: #25a283*/
/* secondary background-color: #82e1c9*/
/*app bar/header/buttons/timeline borders:
  #0C6D55*/
/*dark green back hover color: 9fd7d8*/
/*dark green back active: 63B8B9*/
/*--end of color pallette--*/

/*--global--*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #25a283;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: #194529;
}

/* Create a column layout with Flexbox */
/* .row {
  display: flex;
} */

/* Left column (menu) */
.left {
  margin: 0;
  padding: 0;
  width: 12.5em;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.left h2 {
  padding-left: 0.5em;
}

/*What I want parallaxed:*/
.text-wrap1 {
  transition: transform 0.7s cubic-bezier(0.16, 0.2, 0.38, 0.98);
}
.text-wrap2 {
  transition: transform 0.7s cubic-bezier(0.16, 0.2, 0.38, 0.98);
}

/* Right column (page content) */
.right {
  /* flex: 80%; */
  background-color: #82e1c9;
  margin-left: 12.5em;
  padding: 0.0625em 1em;
  height: 100%;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 0.05555em;
  padding: 0.611111em;
  border: 0.0625em solid #cef5eb;
  border-radius: 0.3333em;
  background-color: #cef5eb;
  margin: 0;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
}

#myMenu li a:hover,
.active,
.gen-collapsible:hover {
  background-color: #a0d3c6;
  border-radius: 6px;
}
/*--end of global--*/

/*-- homepage preview links--*/
.previewlinks {
  background-color: #cef5eb;
  padding: 20px;
  margin: 50px 0;
}
/*-- end of homepage preview links--*/

/*-- header--*/
.header {
  width: 100%; /* Full-width */
  background-color: #0c6d55;
  overflow: auto; /* Overflow due to float */
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}

.header a {
  float: left; /*float links side by side*/
  text-align: center; /*center align text*/
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
}

.header a:hover {
  background-color: #9fd7d8; /* Add a hover color */
  /*#ffffff*/
}

.active {
  background-color: #63b8b9; /* Add an active/current color */
  /**/
}
/*-- end of header--*/
/*character preview on home page*/
.home-chargrid-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-chargrid-item {
  background-color: #cef5eb;
}
.home-chargrid-image {
  width: 7.5em;
  height: 7.5em;
  object-fit: cover;
  float: center;
}
/*end of character preview on home page*/
img {
  object-fit: cover;
}
.locationheader {
  grid-area: header;
  margin-top: 30px;
}
#all-locations:hover {
  background-color: #82e1c9;
}
.residentials,
.normal-humans {
  grid-area: place1;
}
.human-world-places,
.mostly-human {
  grid-area: place2;
}
.alfheim-world-places,
.non-humans {
  grid-area: place3;
}
.locations,
.character-list {
  display: inline-grid;
  grid-template-areas:
    "header header header"
    "place1 place2 place3";
  grid-gap: 10px;
}

/*-- char page stuff--*/
.main-char-content {
  margin: 30px 60px;
}
.info-preview {
  grid-area: info;
}
.stats {
  grid-area: stats;
}
.details {
  grid-area: details;
}
.char-grid {
  display: inline-grid;
  grid-template-areas:
    "info info info info info stats"
    "details details details details details details";
  grid-gap: 10px;
}
.char-image {
  width: 268px;
  height: 450px;
  float: center;
}
.stats-table,
.wiki-content,
.story-locations-table {
  background-color: #63b8b9;
  width: 300px;
}
.table-header {
  background-color: #a0d3c6;
}
.stats-table td,
.story-locations-table td {
  border: 1px solid #ddd;
  padding: 8px;
}
.stats-table tr:nth-child(even),
.story-locations-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.backbutton {
  width: 40px;
  height: 40px;
  background-color: #63b8b9;
}
.backbutton:hover {
  background-color: #82e1c9;
}
/*-- end of char page stuff--*/
/*--gen-collapsible--*/
.gen-collapsible {
  font-family: "Nanum Gothic", sans-serif;
  background-color: inherit;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  list-style-type: none;
}

.gen-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  list-style-type: none;
}
/*--end of gen collapsible--*/
#charlist-pic {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

/*media screens*/
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 768px) {
  .left {
    width: 100%;
    height: auto;
    position: relative;
  }
  .left h2 {
    font-size: medium;
  }
  #myMenu li a {
    float: left;
    font-size: small;
  }
  .right {
    margin-left: 0;
  }
  #mySearch {
    float: right;
  }
  /*character*/
  .main-char-content {
    margin: 15px 30px;
  }
  .stats-table {
    width: 233px;
  }
  .stats-table td {
    padding: 4px 0;
    width: min-content;
  }
  .char-image {
    width: 233px;
    height: 415px;
  }
  .residentials,
  .normal-humans {
    grid-area: place1;
  }
  .human-world-places,
  .mostly-human {
    grid-area: place2;
  }
  .alfheim-world-places,
  .non-humans {
    grid-area: place3;
  }
  .locations,
  .character-list {
    display: inline-grid;
    grid-template-areas:
      "header header header"
      "place1 place1 place1"
      "place2 place2 place2"
      "place3 place3 place3";
    grid-gap: 10px;
  }
  .gen-collapsible {
    text-align: center;
  }
  #locations-tab,
  #characters-tab {
    width: 100%;
    text-align: center;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 414px) {
  .left h2 {
    text-align: center;
  }
  #myMenu li a {
    text-align: center;
    float: none;
  }
  #mySearch {
    text-align: center;
    float: center;
  }
  /*character pagess*/
  .char-grid {
    display: block;
    padding: 2em 0;
    /* grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 4em; */
  }
}

/*end of media screens*/
