/*--tab content--*/

/*fathersinclair*/
.fathersinclair {
  display: none;
  background-color: #25a283;
  margin: 30px 0;
}
/*end of fathersinclair*/
/* Invitation for a Drink*/
.invitation {
  display: none;
  background-color: #25a283;
  margin: 30px 0;
}
/**/
/*Opia*/
.opia {
  display: none;
  background-color: #25a283;
  margin: 30px 0;
}
/**/
/*The Puppetmaster*/
/**/
/*Fortuneteller*/
/**/

/*--end of tabcontent--*/
